## Data Analysis I

Lastly, we will answer the following questions using pandas methods: 

* What are the most popular colors by season?
* What is the most popular clothing item by season?
* What is the effect of promo-codes on the dollar-amount of purchases?
* When do users leave a review?
* Do states vary in the items they purchase in the Fall?

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part3.md` file and answer the questions located underneath `Data Analysis II` in your own words.

In [126]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy.stats import ttest_ind

In [127]:
# TODO: load `data/processed/shopping_cleaned.csv` as a pandas dataframe

df_cleaned = pd.read_csv("../data/processed/shopping_cleaned.csv")

In [128]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Color" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

pivot_table = pd.pivot_table(df_cleaned,values= "Location",columns= "Season", index="Color", aggfunc=len )
pivot_table.head()

Season     Fall  Spring  Summer  Winter
Color
Aubergine    83       2      13     111
Baby blue    16      69      84      21
Black        84       5       9     124
Brick red    88       7      12     110
Brown        97       5       3      89

In [129]:
# TODO: Display this pivot table

print("Ellipsis")

Ellipsis

In [130]:
# TODO: Select the "Fall" column from this pivot table and display the sort order in descending order
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.htp
pivot_table['Fall'].sort_values(ascending=False,)

Color
Brown                   97
Burnt orange            93
Terra cotta             91
Ruby Red                90
Brick red               88
Mauve                   86
Black                   84
Muted mustard yellow    84
Aubergine               83
Baby blue               16
Lavender                13
White                   10
Periwinkle               9
Pale peach               9
Lemon yellow             9
Turquoise                7
Fuchsia                  3
Name: Fall, dtype: int64

In [131]:
# TODO: Select the "Winter" column from this pivot table and display the sort order in descending order

pivot_table['Winter'].sort_values(ascending=False,)

Color
Black                   124
Burnt orange            112
Aubergine               111
Brick red               110
Ruby Red                107
Terra cotta             101
Mauve                    95
Brown                    89
Muted mustard yellow     87
Baby blue                21
Fuchsia                  18
Turquoise                16
Pale peach               15
Lemon yellow             13
White                    11
Periwinkle                8
Lavender                  6
Name: Winter, dtype: int64

In [132]:
# TODO: Select the "Spring" column from this pivot table and display the sort order in descending order

pivot_table['Spring'].sort_values(ascending=False,)

Color
Baby blue               69
White                   63
Lavender                55
Periwinkle              54
Pale peach              52
Turquoise               49
Lemon yellow            47
Fuchsia                 45
Muted mustard yellow     8
Brick red                7
Mauve                    5
Brown                    5
Black                    5
Burnt orange             4
Terra cotta              4
Ruby Red                 3
Aubergine                2
Name: Spring, dtype: int64

In [133]:
# TODO: Select the "Summer" column from this pivot table and display the sort order in descending order

pivot_table['Summer'].sort_values(ascending=False,)

Color
Lavender                102
Lemon yellow             98
Baby blue                84
Periwinkle               82
Pale peach               81
White                    81
Fuchsia                  78
Turquoise                74
Terra cotta              15
Muted mustard yellow     13
Aubergine                13
Brick red                12
Black                     9
Ruby Red                  8
Mauve                     7
Burnt orange              5
Brown                     3
Name: Summer, dtype: int64

In [134]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

df_cleaned.idxmax(axis=0)

Unnamed: 0               3157
Age                       566
Gender                     44
Item Purchased             26
Purchase Amount (USD)    2206
Location                   86
Size                        2
Color                      10
Season                      0
Review Rating               0
Shipping Type             674
Promo Code Used          1785
Previous Purchases         39
Payment Method           1523
dtype: int64

In [135]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Item Purchased" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable and display it

pivot_table = pd.pivot_table(df_cleaned,values= "Location",columns= "Season", index="Item Purchased", aggfunc=len )
pivot_table.head()

Season          Fall  Spring  Summer  Winter
Item Purchased
Backpack        72.0     NaN     NaN   113.0
Belt            25.0     NaN     NaN     NaN
Boots           51.0     NaN     NaN    83.0
Dress           36.0    74.0   118.0     NaN
Gloves          68.0     NaN     NaN   112.0

In [136]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column on the pivot table containing clothing items & season
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html
df_cleaned.idxmax(axis=0)

Unnamed: 0               3157
Age                       566
Gender                     44
Item Purchased             26
Purchase Amount (USD)    2206
Location                   86
Size                        2
Color                      10
Season                      0
Review Rating               0
Shipping Type             674
Promo Code Used          1785
Previous Purchases         39
Payment Method           1523
dtype: int64

In [137]:
df_cleaned['Promo Code Used'].unique()

array(['No', 'Yes'], dtype=object)

In [138]:
# TODO: Create two data-frames for promo-code users and non-promo-code users using boolean indexing
# Save these two dataframes into seperate variables 
# Documentation: https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing
# Hint: Users that have used a promo code have the value "Yes" in the column "Promo Code Used"
promo_code_users_df = df_cleaned[df_cleaned['Promo Code Used'] == 'Yes']
non_promo_code_df =  df_cleaned[df_cleaned['Promo Code Used'] == 'No']

In [139]:
# TODO: Print the shape of the promo code users dataframe. This should be (1373, 13)

promo_code_users_df.shape

(1373, 14)

In [140]:
# TODO: Print the average purchase size of promo code users dataframe. This should be 50.06747998236351

# we need the dataframe promo_code_users_df
# we need column purchase size
# we need to find the average purchase size
promo_code_users_df["Purchase Amount (USD)"].mean()

50.06747998236351

In [141]:
# TODO: Print the shape of the non promo code users dataframe. This should be (1785, 13)

non_promo_code_df.shape

(1785, 14)

In [142]:
# TODO: Print the average purchase size of non promo code users dataframe. This should be 30.155750765104113

non_promo_code_df["Purchase Amount (USD)"].mean()

30.155750765104113

Formulate a null hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Answer here

there is no significant different between the promo code and non promo code. so we need to reject the hypothesis.

Formulate an alternative hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Answer here

there is  significant different between the promo code and non promo code because the promo code dollar amount is higher than non promo code

In [149]:
# TODO: Using the "ttest_ind" method from "scipy.stats", run a T-Test between the dollar amount spent of promo-code users and non promo-code users
# The t-statistic you should observe is 93.2464714350831
# Documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html
 #List or array of dollar amounts for promo-code users
ttest_ind(promo_code_users_df["Purchase Amount (USD)"],\
          non_promo_code_df["Purchase Amount (USD)"])

TtestResult(statistic=93.2464714350831, pvalue=0.0, df=3156.0)

In [153]:
# TODO: Group your dataframe according to the "Review Rating" column. This should produce two groups for the values "Missing" & "Present"
# Save this grouped dataframe into a new variable named "g_review"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html
g_review = promo_code_users_df.groupby(by="Review Rating").count()
g_review

,Unnamed: 0,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
Review Rating,,,,,,,,,,,,,
Missing,891,891,891,891,891,891,891,891,891,891,891,891,891
Present,482,482,482,482,482,482,482,482,482,482,482,482,482

In [154]:
# TODO: Print out the keys of this dataframe for validation. This should output "dict_keys(['Missing', 'Present'])"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.keys.html

my_dict = {'Missing': 1, 'Present': 2}

print(my_dict.keys())

dict_keys(['Missing', 'Present'])

In [163]:
# TODO: calculate the average of the "Purchase Amount (USD)", "Age", and "Previous Purchases" columns in our grouped dataframe
# output the values for display
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html
# Documentation: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html
promo_code_users_df.groupby(by = "Review Rating").agg({
                            "Purchase Amount (USD)": "mean",
                             "Age": "mean",
                              "Previous Purchases":"mean"
                              })

               Purchase Amount (USD)        Age  Previous Purchases
Review Rating
Missing                    50.036440  34.304153            5.300786
Present                    50.124859  33.811203            6.663900

In [184]:
# TODO: Create a new column called "Prev Purchase Group" on your original dataframe which seperates your dataframe into 
# two groups of shoppers based on their "Previous Purchases" column using the "pd.cut" method. 
# Ensure that you are only creating 2 "bins" and label these respective bins as ["Low", "High"]
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.cut.html

df_cleaned["Prev Purchase Group"] = pd.cut(df_cleaned["Previous Purchases"],2, labels=["Low","High"])

In [185]:
df_cleaned.head()

,Unnamed: 0,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method,Prev Purchase Group
0,2,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card,Low
1,4,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card,Low
2,5,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card,Low
3,6,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card,Low
4,7,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card,Low

In [194]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "Low" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing
low_filter = df_cleaned['Prev Purchase Group'] == 'Low'
df_cleaned[low_filter]['Review Rating'].value_counts()

Review Rating
Missing    1686
Present     840
Name: count, dtype: int64

In [ ]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "High" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

...

## Data Analysis II

In the next section, answer the primary analytical questions in your own words.

### Q1

What are the top three colors for Fall & Winter?

Answer here

1i) White
ii) Black
iii) Brown

### Q2

What are the top three colors for Spring & Summer?

Answer here

i) Baby Blue

ii) Lavender

iii) White

### Q3

What is the most popular clothing item by season?

Answer here

shorts is the most popular clothing item.

### Q4

Observing the p-value that we got when running our t-test between promo-code and non-promo-code users, what can we conclude regarding our null hypothesis?

Based on this t-test value we can conclude that p- value is 0.0. so this means we reject the null hypothesis and there is a difference significant.

Answer here

### Q5

Observe the `value_counts` output for the "Review Rating" column for both your "High" and "Low" groups. Proportionally speaking, which group is more likely to leave a review? Why might this be happening from the "human"-perspective? Rationalizations are ok at this point, even if they aren't backed up by data.

Answer here

The 'Present' group is more likely to leave a review because it is highly satisfied, even with higher prices. Based on this satisfaction, we observe that members of this group are more inclined to share their customer experiences through review